div .info-modal:nth-child(2){
    font-weight: 700;
}
.container-work{
    padding: 0px 0px 0px 0px;
}
.work-behance > a{
    width: 100%;
    height: calc(100vh - 280px);
    
}
.img-box-0{
    background-image: url(/img/kanawork.jpg);
    background-size: cover;
    background-position: center;
}
.img-box-1{
    background-image: url(https://cdn.myportfolio.com/72fface4-d0cf-424a-b1b0-bf2b55e61a1a/b57ba753-aa2f-44ff-a5f5-c8dee6e1e0b1_rw_3840.jpg?h=50752615dc9337f3a35b59fa9a372477);
    background-size: cover;
    background-position: center;
}
.img-box-2{
    background-image: url(https://cdn.myportfolio.com/72fface4-d0cf-424a-b1b0-bf2b55e61a1a/74c09144-c8f5-4723-8a0d-3f251e51a688_rw_1920.jpg?h=f18152de4d953c802200b84c98572bfe);
    background-size: cover;
    background-position: center;
}
.img-box-3{
    background-image: url(https://cdn.myportfolio.com/72fface4-d0cf-424a-b1b0-bf2b55e61a1a/3bbb0ddb-b3e1-42ce-887b-ffcd0c47bc85_rw_1920.jpg?h=0f9fc14e546037c50c603650e6b36a05);
    background-size: cover;
    background-position: center;
}
.img-box-4{
    background-image: url(https://cdn.myportfolio.com/72fface4-d0cf-424a-b1b0-bf2b55e61a1a/af9744e6-b012-4af3-9332-63b046c1f1f2_rw_1200.jpg?h=cebedcef268563a1f1f73d44567ec368);
    background-size: cover;
    background-position: center;
}
.img-box-5{
    background-image: url(https://cdn.myportfolio.com/72fface4-d0cf-424a-b1b0-bf2b55e61a1a/15d7fbda-8416-4214-951b-73b2bf34f569_rw_1200.jpg?h=0eb34200564458ff7b5eb4bceb27413c);
    background-size: cover;
    background-position: center;
}
.img-box-6{
    background-image: url(https://cdn.myportfolio.com/72fface4-d0cf-424a-b1b0-bf2b55e61a1a/9438dcb6-ba39-4dd9-bde2-5f79f5bb7988_rw_1920.jpg?h=3627914fd693e4781aec4bb2cf3ffc5d);
    background-size: cover;
    background-position: center;
}
.img-box-7{
    background-image: url(https://cdn.myportfolio.com/72fface4-d0cf-424a-b1b0-bf2b55e61a1a/2e9d188d-9e46-457e-87d4-5477ac305c1f_rw_1920.jpg?h=125a8828852e2d89bfd3ade0f677eeb2);
    background-size: cover;
    background-position: center;
}
.img-box-8{
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/c640f9124615369.6108248c8dc2a.jpg);
    background-size:cover;
    background-position: center;
}
.img-box-10{
    background-image: url(https://cdn.myportfolio.com/72fface4-d0cf-424a-b1b0-bf2b55e61a1a/07b4a7ed-9f2b-4d72-9bd3-460070e4bb83_rw_1920.jpg?h=abb87bef69877ea6fa15192fca1c72f5);
    background-size: cover;
    background-position: center;
}
.img-box-11{
    background-image: url(https://cdn.myportfolio.com/72fface4-d0cf-424a-b1b0-bf2b55e61a1a/4993421d-2d4c-4560-93e8-da439828f4e6_rw_1920.png?h=c2a984e28f094039a39cdbcad42043ff);
    background-size: cover;
    background-position: center;
}
.img-box-12{
    background-image: url(https://cdn.myportfolio.com/72fface4-d0cf-424a-b1b0-bf2b55e61a1a/b8c0d729-7ed8-4b17-9767-c98867d04e29_rw_1920.jpg?h=813ffa7812e673bda8007042095c725e);
    background-size: cover;
    background-position: center;
}
.img-box-13{
    background-image: url(https://cdn.myportfolio.com/72fface4-d0cf-424a-b1b0-bf2b55e61a1a/247e5762-aaf9-472e-9c35-75e0c50cab8c_rw_3840.jpg?h=e487e69fd91a9713733d7f21bf401b60);
    background-size: cover;
    background-position: center;
}
.img-box-14{
    background-image: url(https://cdn.myportfolio.com/72fface4-d0cf-424a-b1b0-bf2b55e61a1a/5f3b659f-cf8e-4f44-b0df-3915b9745089_rw_3840.png?h=53f176a88906584c6fbeb0e7f79a78c2);
    background-size: cover;
    background-position: center;
}
.img-box-15{
    background-image: url(https://cdn.myportfolio.com/72fface4-d0cf-424a-b1b0-bf2b55e61a1a/d5ac8e99-ec3d-472f-abce-03fab5851afb_rw_1920.png?h=ef699871eec7fa119ca3c7d670369e33);
    background-size: cover;
    background-position: center;
}
.img-box-16{
    background-image: url(https://cdn.myportfolio.com/72fface4-d0cf-424a-b1b0-bf2b55e61a1a/786288dd-e13a-4fdd-8c4c-752676822531_rw_1920.jpg?h=0c5432c9fcdbc7c0980a3927074309e9);
    background-size: cover;
    background-position: center;
}
.img-box-17{
    background-image: url(https://cdn.myportfolio.com/72fface4-d0cf-424a-b1b0-bf2b55e61a1a/a118ff9a-5e74-42a8-bd45-40e62fd92901_rw_1920.jpg?h=ba1a6bf80ac7c4fc5fd4a42809644299);
    background-size: cover;
    background-position: center;
}
.hover-box{
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    backdrop-filter: blur(30px);
    z-index: 5;
    overflow: hidden;
    transition: 0.3s
}
.info-hover{
    position: absolute;
    z-index: 15;
}
.hover-box h3{
    font-size: 40px;
    font-weight: 100;
}
.hover-box h4{
    font-size: 15px;
}
.hover-box h5{
    color: white;
    font-size: 10px;
    font-weight: 300;
}
.programs{
    margin: 20px 60px 10px 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.label{
    width: 80px;
    height: 20px;
    background-color: var(--color-fondo);
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
/* Responsive */
/* 720 HD Television */
@media (min-width:769px){
    /* Work Container */
    .container-all{
        width: 100%;
        height: 100%;
    }
    .container-work{
        width: 100%;
        position: relative;
        left: 3.5%;
    }
    .work-behance{
        display: flex;
        flex-wrap: wrap;
      
    }
    .work-behance > a{
        width: 23%;
        height: 250px;
    }
    .img-box-0:hover .hover-box,.img-box-1:hover .hover-box, .img-box-2:hover .hover-box, .img-box-3:hover .hover-box, .img-box-4:hover .hover-box, .img-box-5:hover .hover-box, .img-box-6:hover .hover-box, .img-box-7:hover .hover-box, .img-box-8:hover .hover-box, .img-box-9:hover .hover-box, .img-box-10:hover .hover-box, .img-box-11:hover .hover-box, .img-box-12:hover .hover-box, .img-box-13:hover .hover-box, .img-box-14:hover .hover-box , .img-box-15:hover .hover-box, .img-box-16:hover .hover-box, .img-box-17:hover .hover-box{
        display: flex;
    }
  
}